body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4em;
    text-align: left;
    background-color: #ebd2d2;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    margin-bottom: 50px;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: #bb3c3c;
    opacity: 0.3;
}

.todos-container {
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(100, 28, 28, 0.5), 0 25px 50px 0 rgba(100, 28, 28, 0.5);
}

.todo-form,
.task {
    display: grid;
    grid-template-columns: 0.4fr 4fr 1fr;
    background: none;
    margin: auto;
}

.todo-form {
    padding: 16px;
    line-height: 1.2em;
    box-shadow: inset 0 -2px 1px rgba(100, 28, 28, 0.5);
}

.arrow {
    grid-column: 1;
    text-align: left;
}

.my-arrow input {
    display: none;
}

.arrow+span:before {
    content: '🔽';
    font-size: 20px;
    opacity: 0.5;
}

.todo-input {
    grid-column: 2;
    padding: 0 0 0 14px;
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    width: auto;
}

input::placeholder {
    font-style: italic;
    color: grey;
    opacity: 0.3;
}

.todo-list,
.status {
    margin: 0;
    padding: 0;
}

.task {
    padding: 16px;
    font-size: 24px;
    line-height: 1.2em;
    border-bottom: 1px solid rgba(100, 28, 28, 0.5);
    width: auto;
}

.check {
    grid-column: 1;
    height: 20px;
    width: 20px;
}

.todo-title {
    grid-column: 2;
    word-break: break-all;
    padding: 0 0 0 14px;
}

.remove-todo {
    grid-column: 3;
    justify-self: end;
}

input[type=checkbox]:checked+label.todo-title {
    text-decoration: line-through;
    font-style: italic;
    color: grey;
    opacity: 0.3;
}

li {
    list-style-type: none;
}

.filters button,
#items-left {
    margin: 3px;
    padding: 3px 7px;
}

button {
    background: none;
    border: none;
}

#all,
#active,
#completed,
#clear-completed {
    cursor: pointer;
}

.filters {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-auto-flow: row;
}

#items-left {
    grid-column: 1;
    justify-self: start;
    text-align: left;
}

.filters button:focus {
    border: 1px solid rgba(100, 28, 28, 0.5);
    border-radius: 0.4em;
}

#clear-completed:hover {
    text-decoration: underline;
}

.status-buttons {
    grid-column: 2;
    justify-items: space-evenly;
}

.clear {
    grid-column: 3;
    justify-self: end;
}

footer {
    margin: 50px 0 0 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}


/*Mobile*/



@media only screen and (max-width: 600px) {
    .todos-container {
        justify-self: center;
        align-items: center;
        max-width: 300px;
        width: 100%;
    }
    input::placeholder {
        font-size: 21px;
        }
}




/*tablet and small laptops*/

@media only screen and (min-width: 610px) {}



/*Bigger devices*/

@media only screen and (min-width: 1000px) {}